*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto, sans-serif;
}

/* Header Section */

nav.navbar.navbar-expand-lg {
    background-color: #11058d;
}

a.navbar-brand {
    padding: 0px;
    margin: 0px;
}

ul.navbar-nav li.nav-item:hover > a{
    color: #1ccd8f !important;
}

a.nav-link.active {
    color: #1ccd8f !important;
}

/* Dropdown Menu 1 */
li.nav-item.dropdown {
    position: relative;
}

ul.dropdown-menu {
    position: absolute;
    display: block;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    margin-left: 10px;
    top: 56px;
    width: 100%;
}

li.nav-item.dropdown:hover ul.dropdown-menu{
    opacity: 1;
    visibility: visible;
    top: 40px;
}

a.dropdown-item:hover {
    background: none;
}

li:hover > a {
    color: #1ccd8f !important;
}
/* Dropdown Menu 1 */


/* Dropdown Menu 2 */
ul.dropdown-menu-2 {
    position: absolute;
    display: block;
    background: white;
    transition: .5s;
    right: 120%;
    bottom: -26%;
    list-style: none;
    border: 1px solid #00000024;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0px;
    opacity: 0;
    visibility: hidden;
}

li.nav-item-2:hover ul.dropdown-menu-2{
    opacity: 1;
    visibility: visible;
    right: 100%;
}
/* Dropdown Menu 2 */

/* Header Section */


/* Hero section */
.hero-section{
    background-image: url(/assets/img/hero-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background{
    background-color: #1b1661;
    opacity: 0.95;
    padding: 100px 0;
}
h1.text-light.hero-text {
    font-size: 48px;
}

.sty{
    text-decoration-line: underline;
    font-size: 52px;
    color: aquamarine;
}

p {
    margin-top: 12px;
    margin-bottom: 1rem;
    font-size: 22px;
}

img {
    width: 100%;
    height: auto;
}

a.text-light.text-decoration-none.h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

/* Hero section */


/* About section */
.me-5 {
    margin-right: 240px!important;
    padding-left: 12px;
    background-color: #F3FCF9;
}
i.fa-solid.fa-arrow-right-long {
    margin-left: 10px;
}


.icon-box {
    background: #ffff;
    border: 1px solid #0000000f;
    box-shadow: 2px 2px 2px 2px #add8e624;
    padding: 30px;
    margin-bottom: 20px;
    transition: .3s;
}
.icon{
    margin-bottom: 20px;
}

.icon-box .icon i {
    color: #1acc8e;
    background: #f3fcf9;
    width: 80px;
    height: 80px;
    line-height: 14px;
    padding: 34px;
    border-radius: 50px;
    transition: .3s;
}

.icon-box.margin-4 {
    margin-top: -30px;
}

.icon-box:hover .icon i{
    color: #f3fcf9;
    background: #1acc8e;
} 

i.fa-solid.fa-arrow-right-long {
    padding-right: 10px;
}

.btn.btn-success.btn-lg.rounded-2.py-3.px-4:hover i.fa-solid.fa-arrow-right-long {
    padding-right: 10px;
}

/* About section end */

/* Features section */

.features-item.d-flex.justify-content-center.align-items-center {
    border: 1px solid #e8edf1;
    padding: 15px;
    margin-bottom: 20px;
    transition: .3s;
}

.features-item.d-flex.justify-content-center.align-items-center:hover {
    border: 1px solid #1acc8e;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
.features-item.d-flex.justify-content-center.align-items-center:hover h3.my-0.h6 {
    border: 1px solid #1acc8e;
}

.icon1 {
    color: red;
    font-size: 24px;
    margin-right: 10px;
}
.icon2 {
    color: rgb(109, 209, 151);
    font-size: 24px;
    margin-right: 10px;
}
.icon3 {
    color: rgb(52, 22, 134);
    font-size: 24px;
    margin-right: 10px;
}
.icon4 {
    color: rgba(66, 112, 28, 0.562);
    font-size: 24px;
    margin-right: 10px;
}
.icon5 {
    color: rgb(47, 80, 172);
    font-size: 24px;
    margin-right: 10px;
}
.icon6 {
    color: rgb(15, 100, 156);
    font-size: 24px;
    margin-right: 10px;
}
.icon7 {
    color: rgb(10, 51, 88);
    font-size: 24px;
    margin-right: 10px;
}
.icon8 {
    color: rgb(181, 199, 19);
    font-size: 24px;
    margin-right: 10px;
}
.icon9 {
    color: rgb(0, 89, 255);
    font-size: 24px;
    margin-right: 10px;
}
.icon10 {
    color: rgb(255, 208, 0);
    font-size: 24px;
    margin-right: 10px;
}
.icon11 {
    color: rgb(0, 51, 146);
    font-size: 24px;
    margin-right: 10px;
}
.icon12 {
    color: rgba(0, 255, 115, 0.856);
    font-size: 24px;
    margin-right: 10px;
}


/* Features section end */